<launch>	 

	<arg name="gui" default="False" />
	<param name="use_gui" value="$(arg gui)"/>
	<param name="robot_description" command="$(find xacro)/xacro.py $(find arm2r)/urdf/arm2r.urdf.xacro" />
	<rosparam param="source_list">[/joint_states_arm]</rosparam>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node pkg="arm2r" type="arm2r_server" name="srv_set_pose" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find arm2r)/urdf.rviz" />
</launch>
