<launch>	 
	<param name="robot_description" command="$(find xacro)/xacro.py $(find u06)/model/arm.xacro"/>
	<rosparam param="source_list">[/joint_states_forced]</rosparam>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find u06)/config/config.rviz" />
</launch>
